# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment
.env
.env.*

# Model files
models/

# VSCode
.vscode/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Test/coverage
htmlcov/
.coverage
.tox/

# Others
*.bak
*.swp
