langchain
chromadb
sentence-transformers
huggingface_hub
ollama
langchain-community
llama-cpp-python
python-dotenv
fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
unstructured[all-docs]
pyyaml
requests
unstructured
langchain-huggingface
docx2txt
