fastapi
uvicorn
python-dotenv
PyYAML
langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
torch
llama-cpp-python
pydantic
python-docx
starlette
PyPDF2
sqlalchemy 
psycopg2-binary

